body {
    background-color: black;
    color: cornsilk;
}

.top {
    text-align: center;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}


#stripe {
    text-align: center;
    background-color: white;
    height: 30px;
    color: black;
}

.selected {
    background-color: dodgerblue;
}