body {
    background-color: black;
    color: cornsilk;
    margin: 0;
}

.top {
    text-align: center;
    margin: 0;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    line-height: 1.1;
    text-transform: capitalize;
    font-size: 45px;
    padding: 10px 0;
    background: dodgerblue;
}

#stripe {
    text-align: center;
    background-color: white;
    height: 30px;
    color: black;
}

#message {
    display: inline-block;
    width: 20%;
}

.selected {}

button {
    border: none;
    background-color: none;
    text-transform: uppercase;
    height: 100%;
    color: dodgerblue;
}